SUPABASE_URL=https://xxxxx.supabase.co 
SUPABASE_ANON_KEY=eyJhbGci...
SUPABASE_SERVICE_KEY=eyJhbGci...
ALICE_PASSWORD=alice_password
BOB_PASSWORD=bob_password
PROJECT_ID=project_id

UPLOADTHING_SECRET=sk_live_... 
UPLOADTHING_APP_ID=xxxxxxxx RESEND_API_KEY=re_xxxx


